@import "tailwindcss";
@theme{
  --font-fredoka :'Fredoka';
  --color-baby-blue : #edf6ff;
  --color-dark-blue:#1c497b;
  --brearkpoint-mini : 12.5rem
  --color-bg:#f7f1eb;
  --color-maroon : #8e2d2d;
    --color-grey: #545454;
}